use('../../', {
  csso: false
  pixrem: false
  autoprefixer: {
    browsers: "Opera 12, Safari >= 6, Explorer >= 9, last 5 Chrome versions, last 5 Firefox versions, last 5 Opera versions"
    cascade: true
  }
})

body
  padding: 0.5rem 1rem
  box-shadow: 3px 3px 5px #ccc
  transform: scale(2)
